*{
    padding: 0;
    margin: 0;
}

header {
    background-color: #95C6C6;
    color: white;
    padding: 10px;
    border: #140546 5px solid;
}

nav{
    background-color: #EBEBC3;
    color: white;
    padding: 30px;
    border: #140546 10px solid;
    
}
nav li{
    list-style-type: none;
    float:left;
    margin-right:10px;
    color: blue;
    font-weight: bolder;
    border-bottom: blue solid;
}

nav li:hover{
    color: black;
    cursor: pointer;
}

section {
    display: inline;
    text-align: center;
    float: right;
    width: 1000px;
    background-color: #6E96C8;
    height: 310px;
    border: #140546 10px solid;
    padding: 10px;
}

article{
    padding-bottom: 50px;
    background-color: #00C8C8;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}
aside{
    float: left; 
    background-color: #3C823C;
    width: 200px;
    height: 310px;
    border: #140546 10px solid;
    padding: 10px;
    color: white;
}

footer{
    background-color: #AAAA73;
    border: #140546 5px solid;
    color: white;
    padding: 10px;
}